body {
    padding-bottom: 8.5rem;
}
.footer {
    background: #222;
    bottom: 0;
    box-sizing: border-box;
    height: 8.5rem;
    padding: 2rem;
    position: absolute;
    text-align: center;
    width: 100%;
    
    a {
        color: #fff;
    
        &:hover {
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 45rem) {
    body {
        padding-bottom: 5rem;
    }
    .footer {
        height: 5rem;
    }
}    
