<app-main-nav pageTitle={{title}}></app-main-nav>
<div class="container">
    <div class="narrow-container">
        <input [(ngModel)]="className.isSelected" *ngFor="let className of class " type="checkbox" name="{{className}}"
            value="{{className}}" (change)="checkboxFilter()">
        <input type="search" name="nameFilter" value="nameFilter" (input)="searchFilter($event)" />
    </div>
    <div class="content narrow-container">
        <table class="tech">
            <tr>
                <th>Tech Name</th>
                <th>Type</th>
                <th>Class</th>
                <th class="row-xp">Xp</th>
            </tr>
            <tr *ngFor="let tec of filteredTech">
                <td>{{tec.Name}}</td>
                <td>{{tec.Type}}</td>
                <td>{{tec.Class}}</td>
                <td class="row-xp">{{tec.Xp}}</td>
            </tr>
        </table>
    </div>
</div>